// ----- SectionTitle -----

.section {
    &.section--title {
        padding: var(--p3);
        text-align: center;

        h3 {
            color: var(--color-primary);
        }
    }
}