// ----- Hero -----

$hero-height: 455px;
$hero-height-sm: 250px;

.hero {
    height: $hero-height;

    &.hero-image {
        background-color: var(--color-bg-body);
        /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
        // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Place text in the middle of the image */
    .hero__text {
        text-align: center;
        color: white;
        width: 65%;

        h1 {
            @include text-shadow(h1);
            text-transform: uppercase;
            margin: 0 auto;

            strong {
                display: block;
            }
        }

        p {
            @include text-shadow(p);
            font-size: 2.1rem;
            margin-top: var(--p2);
            margin-bottom: 0;
        }
    }

    // /.hero__text

    &.hero--category {
        h1 {
            font-size: 2.3rem;

            strong {
                font-size: 5.8rem;
            }
        }
    }

    // /&.hero--category
}

// /.hero

@media #{$bp-lt-sm} {
    .hero {
        height: $hero-height-sm;

        .hero__text {
            h1 {
                font-size: 1.6rem;
                line-height: 2rem;

                strong {
                    font-size: 4rem;
                }
            }

            p {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
}

// BP xs
@media #{$bp-lt-xs} {
    .hero {
        height: $hero-height-sm;

        .hero__text {
            width:90%;
            h1 {
                font-size: 1.4rem;
                line-height: 1.6rem;

                strong {
                    font-size: 3rem;
                }
            }

            p {
                margin-top:var(--p1);
            }
        }
    }
}

// / BP xs