// ----- Styles -----

.color-swatches {
    display:flex;
    flex-wrap: wrap;
    justify-content: start;
    align-self: flex-start;
    text-align: left;

    .swatch {
        margin:var(--p1);
        padding:var(--p1);
        display:flex;
        align-items: center;
        
        div {
            border:1px solid var(--color-text);
            display:block;
            border-radius:var(--border-radius);
            margin-right:var(--p1);
            width:30px;
            height:30px;
        }
    }
}