// ----- SectionNav

.nav-container {

    nav {
        background-color: --color-navbar;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                flex: 3;

                &::before {
                    content: '';
                    display: none;
                }

                &.icon-container {
                    flex: 1;
                }

                a {
                    display: block;
                    width: 100%;
                    height:100%;
                    text-align: center;
                    transition: 0.5s;
                    background-color: var(--color-navbar);
                    color: var(--color-navbar-text);
                    line-height: 2.4rem;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: var(--p3) 5px;

                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: var(--p2);
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: var(--color-primary);
                        opacity: 0;
                        transition: opacity 300ms, transform 300ms;
                        opacity: 1;
                        transform: scale(0);
                        transform-origin: center;
                    }

                    &:hover {
                        &:after,
                        &:focus {
                            opacity: 1;
                            transform: translate3d(0, 0.2em, 0);
                            transform: scale(1);
                        }
                    }
                }

                /*----- /a -----*/
            }
        }
    }

    /*----- /nav -----*/
}

@media all and (max-width: 1000px) {
    .nav-container nav ul {
        flex-wrap: wrap;

        li {
            flex: 1 1 50%;

            a {
                padding: var(--p1) 5px;

                &::after {
                    bottom: 0;
                }
            }

            &.icon-container {
                flex: 1 1 25%;
            }
        }
    }
}

@media all and (max-width: 500px) {
    .nav-container nav ul {
        li {
            flex-basis: 100%;
        }
    }
}