// ----- SectionNav -----

.nav-container {

    nav {
        background-color: --color-navbar;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                flex: 3;

                &::before {
                    content: '';
                    display: none;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: var(--transition-speed);
                    background-color: var(--color-navbar);
                    color: var(--color-navbar-text);
                    line-height: 2.4rem;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: var(--p3) 5px;
                    position: relative;

                    // Underline hover
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: var(--p2);
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: var(--color-primary);
                        transition: opacity var(--transition-speed), transform var(--transition-speed);
                        opacity: 1;
                        transform: scaleX(0);
                        transform-origin: center;
                    }

                    &:hover,
                    &:focus {
                        &:after {
                            opacity: 1;
                            transform: translate3d(0, 0.2em, 0);
                            transform: scaleX(30%);
                        }
                    }

                    // /Underline hover
                }

                // /a
            }
        }
    }

    // /nav 
}

// // BP custom
@media all and (max-width: 1000px) {
    .nav-container nav ul {
        flex-wrap: wrap;

        li {
            flex: 1 1 50%;

            a {
                padding: var(--p1);

                &::after {
                    bottom: 0;
                }
            }
        }
    }
}

// /BP custom

// // BP mobile
@media #{$bp-lt-mobile} {
    .nav-container nav ul {
        li {
            flex-basis: 100%;
        }
    }
}

// / BP mobile