// ----- PanelBtns -----

// Detail Block
$panel-height: 340px;
$panel-height-md: 220px;
$detail-w: 120px;
$detail-w-md: 80px;
$detail-offset: 20px;
$detail-offset-md: 10px;
$flex-column-gap: 20px;

// Mixin : reduce code
@mixin swatch-block($size) {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    display: block;
    width: $size;
    height: $size;
}

// Panel Buttons Container
.panel-btns-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    column-gap: $flex-column-gap;
    justify-content: space-around;
    padding-right: $detail-offset;
    width: 100%;

    >.panel-btn {
        padding: 0;
        flex: 1 0 calc(20% - #{$flex-column-gap}); // 5 panels

        // align to baseline
        &:nth-child(even) {
            margin-top:calc((#{$panel-height} / 2) - #{$detail-offset});
        }

        >a {
            text-decoration: none;

            >.panel-btn__img-container {
                position: relative;
                overflow: hidden;
                display: block;
                width: 100%;
                height: $panel-height;
                padding: $detail-offset;
                padding-top: 0;

                >.img-crop {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    >img {
                        float: left;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        width: 100%;
                        height: auto;
                        min-height: 100%;
                        transition: all var(--transition-speed) ease;
                        mix-blend-mode: multiply;
                    }
                }

                // /.img-crop

                &.detail {
                    &:before {
                        @include swatch-block($detail-w);
                        z-index: 0; //beneath image
                    }

                    &:after {
                        @include swatch-block($detail-w);
                        z-index: 2; //over image
                        opacity: var(--opacity-semi);
                        transition: opacity ease-in-out var(--transition-speed);
                    }

                }
            }

            // /.panel-btn__img-container

            .panel-btn__txt-container {
                display: block;
                // border: 1px solid blue;
                width: 100%;
                padding: $detail-offset;

                h4 {
                    color: var(--color-heading);
                }
            }

            // /.panel-btn__txt-container

            &:hover>.panel-btn__img-container {
                >.img-crop>img {
                    transform: scale(1.1);
                    mix-blend-mode: normal;
                }

                &.detail:after {
                    opacity: 0;
                }
            }
        }

        // /a
    }

    // /.panel-btn
}

// /.panel-btns-container

// SET COLORS
.detail {

    &:before,
    :after {
        background-color: var(--color-primary);
    }

    &.detail--bgColor1 {

        &:before,
        &:after {
            background-color: var(--color-swatch-1);
        }
    }

    &.detail--bgColor2 {

        &:before,
        &:after {
            background-color: var(--color-swatch-2);
        }
    }

    &.detail--bgColor3 {

        &:before,
        &:after {
            background-color: var(--color-swatch-3);
        }
    }

    &.detail--bgColor4 {

        &:before,
        &:after {
            background-color: var(--color-swatch-4);
        }
    }

    &.detail--bgColor5 {

        &:before,
        &:after {
            background-color: var(--color-swatch-5);
        }
    }
}

// / SET COLORS

// BP md
@media #{$bp-lt-md} {
    .panel-btns-container {
        padding-right: $detail-offset-md;

        >.panel-btn {

            &:nth-child(even) {
                margin-top:calc((#{$panel-height-md} / 2) - #{$detail-offset-md});
            }

            >a {
                >.panel-btn__img-container {
                    padding: $detail-offset-md;
                    height: $panel-height-md;

                    &.detail {
                        &:before {
                            width: $detail-w-md;
                            height: $detail-w-md;
                        }

                        &:after {
                            width: $detail-w-md;
                            height: $detail-w-md;
                        }
                    }
                }

                // /.panel-btn__img-container

                .panel-btn__txt-container {
                    padding: $detail-offset-md;
                }

                // /.panel-btn__txt-container
            }

            // /a
        }

        // /.panel-btn
    }

    // /.panel-btns-container
}

// / BP md

// BP sm
@media #{$bp-lt-sm} {
    .panel-btns-container {
        padding: $detail-offset-md;
        flex-wrap: wrap;
        // column-gap:unset;

        >.panel-btn {
            flex:0 1 calc(50% - #{$flex-column-gap});
            margin-bottom: $flex-column-gap;

            &:nth-child(even) {
                margin-top: 0;
            }

            // /a
        }

        // /.panel-btn
    }

    // /.panel-btns-container
}

// / BP sm