// ----- Table

// Breakpoints
$bp-gt-sm: "screen and (min-width: 768px)"; // from 768px
$bp-lt-sm: "screen and (max-width: 767px)"; // up to 767px
$bp-gt-mobile: "screen and (min-width: 640px)"; // from 640px
$bp-lt-mobile: "screen and (max-width: 639px)"; // up to 639px
$bp-lt-xs: "screen and (max-width: 479px)"; // up to 479px
$bp-lt-xxs: "screen and (max-width: 399px)"; // up to 399px

// Font Sizes
$tbl-font-size-title: 16px;
$tbl-font-size-body: 14px;

// Border
@mixin tbl-border($type,$pos: 'bottom') {
    $width: 2px;
    $style: solid;
    $color: #e5e5e5;
    
    @if($type == th){
      $width: 4px;
      $color: #000;
    }
    @if($pos == 'right'){
      border-right:$width $style $color;
    } @else {
      border-bottom:$width $style $color;
    }  
  }
  // Table Highlight Background Color
  $tbl-highlight-bg-color: transparent;//#ffc;
  $tbl-hover-bg-color-rows: rgba(0,0,0,0.03);
  $tbl-hover-bg-color-cols: rgba(0,0,0,0.03);
  
  // Swatch Block
  $swatch-w: 10px;
  @mixin swatch__block($bgColor: black) {
    content:'';
    display:inline-block;
    width:$swatch-w;
    height:$swatch-w;
    margin-right:var(--p1);
    background-color:$bgColor;  
  }
  // Swatch Colors
  //$swatch-color-a: purple;
  //$swatch-color-b: orange;
  //$swatch-color-c: green;
  //$swatch-color-d: blue;
  //$swatch-color-e: pink;
  
  // Table Container
  .tbl-container {
  }
  // table style
  table.tbl { 
    border-spacing: 0; 
    border-collapse: collapse; 
    overflow:hidden;
    max-width:100%; 
    width:100%;
    margin:0 auto;  
    
    td,th {
      padding-left:var(--p1);
      text-align:left;
      
      &.highlight {
        background-color:$tbl-highlight-bg-color;
        font-weight:bold;
      }
    }
  
    thead tr {    
      font-size:$tbl-font-size-title;
      line-height:$tbl-font-size-title;
      
      th {
        @include tbl-border(th,'');
        padding-top:var(--p2);
        padding-bottom:var(--p2);
        text-align:left;
        
        &:first-child {
          width:70px;
        }
        
        &.th-swatch {
          &--a:before {@include swatch__block(var(--color-swatch-a));}
          &--b:before {@include swatch__block(var(--color-swatch-b));}
          &--c:before {@include swatch__block(var(--color-swatch-c));}
          &--d:before {@include swatch__block(var(--color-swatch-d));}
          &--e:before {@include swatch__block(var(--color-swatch-e));}
        }
      }
    }
    
    tbody tr {    
      font-size:$tbl-font-size-body;
      line-height:$tbl-font-size-body;
      
      td {
        @include tbl-border(td,'');
        padding:var(--p1) var(--p1) var(--p1) calc(var(--p1) + #{$swatch-w} + var(--p1));
        &:first-child {
          padding-left:var(--p2);
          @include tbl-border(td,'');
        }
      }
      &:last-child td { border:0; }
    }
  
  }
  
  
  @media #{$bp-lt-mobile}{  
    table.tbl	{
      display:block;  
      * { position:relative }
      
        > *,tr,td,th { display:block }
      
      &.tbl-hover {
        tbody tr td:hover {      
          background-color: $tbl-hover-bg-color-rows;
          font-weight:bold;
        }
      }
      
      thead { display:none }
      tbody tr {
        height:auto;
        padding:0;
        border-bottom:0;
        
        td {
          padding-left:50%;
          margin:0;
          @include tbl-border(td,'');
          
          &:last-child {
            margin-bottom:0;
            border-bottom:0;
          }
          &:before { 
            position:absolute;
            font-weight:700;
            width:40%;
            left:20px;
            top:var(--p1)
          }
          &:after {
            @include swatch__block();
            position:absolute;
            left:0px;
            top:10px
          }
          
          &:nth-child(1) {
            &:after {display:none;}
            margin:var(--p2) 0 0 0;
            font-weight:bold;
            text-align:right;
            border-right:0;
            @include tbl-border(th,'');
          }
          &:nth-child(2):before { content:"AAA";}
          &:nth-child(2):after {@include swatch__block(var(--color-swatch-a));}
          &:nth-child(3):before { content:"BBB";}
          &:nth-child(3):after {@include swatch__block(var(--color-swatch-b));}
          &:nth-child(4):before { content:"CCC";}
          &:nth-child(4):after {@include swatch__block(var(--color-swatch-c));}
          &:nth-child(5):before { content:"DDD";}
          &:nth-child(5):after {@include swatch__block(var(--color-swatch-d));}
          &:nth-child(6):before { content:"EEE";}        
          &:nth-child(6):after {@include swatch__block(var(--color-swatch-e));}
        }        
      }
    }
  }
  
  @media #{$bp-gt-mobile}{
    table.tbl.tbl-hover {    
      width:100%;
      overflow: hidden;
      z-index: 1;    
      position:relative;
      
      td {
        position: relative;
      }
      
      &--rows {
        td:hover::before { 
          background-color: $tbl-hover-bg-color-rows;
          content: '\00a0';  
          height: 100%;
          left: -5000px;
          position: absolute;  
          top: 0;
          width: 10000px;   
          z-index: -1;        
        }
      }
      
      &--cols {
        td:hover::after { 
          background-color: $tbl-hover-bg-color-cols;
          content: '\00a0';  
          height: 10000px;    
          left: 0;
          position: absolute;  
          top: -5000px;
          width: 100%;
          z-index: -1;        
        }
      }
    }
  
  }
  
  
  @media #{$bp-lt-xs}{  
    table.tbl	{    
      tbody tr {      
        td {
          padding-left: 70%;
          
          &:before { 
            width:60%;
          }
        }        
      }
    }
  }